<!-- Start Footer Area -->
<section class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contact Info</h3>

                    <ul class="footer-contact-info">
                        <li>
                            <i class="flaticon-phone-call"></i>
                            <span>Mon to Fri : 09:00AM - 05:00PM</span>
                            <a href="tel:+19804332282">(980) 433-2282</a>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <span>Do You Have a Question?</span>
                            <a href="mailto:info@m3digital.co">info@m3digital.co</a>
                        </li>
                        <li>
                            <i class="flaticon-social-media"></i>
                            <span>Social Network</span>
                            <ul class="social">
                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget pl-5">
                    <h3>Quick Links</h3>

                    <ul class="footer-quick-links">
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/">About</a></li>
                        <li><a routerLink="/">Blog</a></li>
                        <li><a routerLink="/">Contact</a></li>
                        <li><a routerLink="/">Agency</a></li>
                        <li><a routerLink="/">Digital</a></li>
                        <li><a routerLink="/">Support</a></li>
                        <li><a routerLink="/">Shop</a></li>
                        <li><a routerLink="/">Agency</a></li>
                        <li><a routerLink="/">Digital</a></li>
                        <li><a routerLink="/">Support</a></li>
                        <li><a routerLink="/">Shop</a></li>
                        <li><a routerLink="/">Digital</a></li>
                        <li><a routerLink="/">Support</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-footer-widget pl-5">
                    <h3>Instagram</h3>

                    <ul class="footer-instagram-post">
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram1.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram2.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram3.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram4.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram5.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram6.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram7.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram8.jpg" alt="image">
                        </a></li>
                        <li><a href="#" target="_blank">
                            <img src="assets/img/instagram-image/instagram1.jpg" alt="image">
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-lg-6 col-sm-6 col-md-6">
                    <p>&copy; Copyright {{currentYear}} <a href="htps://mgennings.com/" target="_blank">Matt Gennings</a>. All rights reserved</p>
                </div>

                <div class="col-lg-6 col-sm-6 col-md-6">
                    <ul>
                        <li><a routerLink="/">Terms & Conditions</a></li>
                        <li><a routerLink="/">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Footer Area -->

<div class="go-top"><i class="fas fa-chevron-up"></i></div>